<!-- ここから投稿一覧ページ -->
  <body class="page list index">
    <!-- フラッシュがある場合は表示 -->
      <div class="flash">
      <%if flash[:notice]%>
      <%=flash[:notice]%>
      <%end%>
      </div>
      <div class="list top">
      <h1>投稿一覧</h1>

          <div class="ichiran">

            <% @lists.each do |list| %>
              <div class = "list-index-item">
                  <div class="list-index-item-upper">
                    <%user=User.find_by(id:list.user_id)%>
                    <%= link_to user.name, "/users/

                    #{user.id}" %>
                    <%if list.url.nil? then%>
                      <%= list.name   %>
                      <%else%>
                      <%= link_to list.name, list.url,  :target=>["_blank"] %>
                      <%end%>
                    <%= link_to"レビュー", list.review,  :target=>["_blank"] %>
                  </div>
                  <div class="list-comment">
                  <a>  <%= link_to list.comment,"/lists/#{list.id}" %></a>
                  </div>
           </div>
            <% end %>
           </div>
           <!-- ichiranの閉じタグ -->
           <div class="list-index-footer">

           </div>
    </body>
