  <body class="page list index">
      <div class="flash">
      <%if flash[:notice]%>
      <%=flash[:notice]%>
      <%end%>
      </div>
      <div class="list top">
      <h1>投稿一覧</h1>

          <div class="ichiran">

            <% @lists.each do |list| %>
            <a>  <div class = "list-index-item"></a>
                <%= link_to list.content,"/lists/#{list.id}" %>
                <%= link_to"HomePage", list.url,  :target=>["_blank"] %>
                <%= link_to"レビュー", list.review,  :target=>["_blank"] %>
              <h2>  <%= link_to list.comment,"/lists/#{list.id}" %> </h2>

           </div>
            <% end %>
           </div>
           <div class="list-index-footer">

           </div>
    </body>
