<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- viewportを読み込むための<meta>タグを記述-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>温泉巡り</title>
    <link rel="stylesheet" href="温泉巡り.css">
  </head>


<div class ="list">

<body class="lists">
    <div class="lists top">
        <h1>投稿詳細</h1>

        <div class="ichiran">

         <div class="container2">

            <div class = "list-index-item">
                <p>    <%= @list.content %>  </p>
                <p>    <%= @list.comment %>  </p>
                <div class = "list-time">
                <%= @list.date %>
                <%= link_to" 編集", "/lists/#{@list.id}/edit"%>
                <%= link_to("削除","/lists/#{@list.id}/destroy",{method:"post"})%>
                </div>
            </div>


         </div>
  </body>
  <footer class="footer">
    <div class="last">
        <img src="/あひる.png">

</div>
