<body class="list-show">
    <div class="list-index-container">
        <div class = "list-index-item">
                <img src="<%="/user_images/#{@user.users_image}"%>">
                      <div class ="list-user-name">
                        <%= @user.name %>  </div>
                            <div class="list-user-comment">
                              <%= @list.comment %>  </div>
                              <% if @list.user_id==@current_user.id %>
                              <div class ="list-edit-link">
                              <%= link_to" 編集", "/lists/#{@list.id}/edit"%>
                              <%= link_to("削除","/lists/#{@list.id}/destroy",{method:"post"})%><%end%>
                            </div>
                            <div class="like">
                              <% if Like.find_by(user_id: @current_user.id, list_id: @list.id) %>
                                いいね！済み
                              <% else %>
                                いいね！していません
                              <% end %>
                            </div>
                          </div>

            </div>
<div class="list-show-footer">
    <img src="/あひる.png">
</div>
  </body>
