<div class='onsen-index-body'>
<p id="notice"><%= notice %></p>

<h1>温泉一覧</h1>

<div>
<%= form_tag(onsens_path, method: "get") do %>
<%= label_tag :name, "温泉名" %><%= text_field_tag :name, params[:name] %>
<%= label_tag :prefecture_id, "都道府県" %><%= select :onsen, :prefecture_id, Onsen.prefecture_ids, {prompt: '選択してください'}%>


<%= submit_tag "検索" %>

<% end %>
</div>
<table div class='onsen-table'>
  <thead>
    <tr>
      <th>温泉名</th>
      <th>県</th>
      <th></th>
      <th>レビュー</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onsens.each do |onsen| %>
      <tr>
        <td><%= onsen.name %></td>
        <td><%= onsen.prefecture_id%></td>
        <%if onsen.url.nil? then%>
        <td><%=  %></td>
        <%else%>
        <td><%= link_to 'HP', onsen.url%>
        <%end%>
        <%if onsen.review.nil? then%>
        <td><%=  %></td>
        <%else%>
        <td><%= link_to 'レビュー', onsen.review %></td>
        <%end%>
        <td><%= onsen.user.name%></td>

        <td><%= link_to '詳細', onsen %></td>
        <!-- <td><%= link_to '編集', edit_onsen_path(onsen) %></td>
        <td><%= link_to '削除', onsen, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table >

<br>

<%= link_to '新しい温泉を登録する', new_onsen_path %>

</div>
