
<body class="user-edit-body">
    <div class="user-edit-top">
        <h1>ユーザー情報を編集する</h1>
    </div>
    <div class= "user-edit-inbox">
      <div class = "user-image-edit">
    <img src="<%="/user_images/#{@user.users_image}"%>">
      </div>
        <div class = "user-name-edit">
        <%= "#{@user.name} "%>
        </div>

<%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
            <div class = "user-info-save">
                <div class ="image-save-button" >
                <input name ="image" type="file">
                </div>
                <div class ="edit-email" >Email:
                <textarea name="email">    <%= @user.email %>
                </textarea>
                </div>
                <div class ="edit-password" >PW:
                <textarea name="password">    <%= @user.password %>  </textarea>
                <div class ="save-button" >
                <input type="submit" value="保存">
              </div>
                </div>
            </div>
            </div>
          <%end%>

</div>

  </body>

</div>
