<body class="login-page">
  <div class="login-container">
    <div class="login-heading">
      <h1>ログイン</h1></div>

      <div class="login-form-body">

        <% if @error_message %>
        <div class="form-errror">
          <%= @error_message%>
        </div>
        <%end%>
        <%if flash[:notice]%>
        <div class="login-flash">
          <%=flash[:notice]%>
        </div>
        <%end%>



<%= form_for @user, :url => {:action => 'login' } do |f| %>

<div class= "input-login">
     <div class="input-email"><%= f.label :email %><%= f.text_field :email %></div>
     <div class="input-pw"><%= f.label :password %><%= f.password_field :password %></div>
     <div class="register-button"><%= f.submit :登録 %></div>
    <% end %>
</diiv>



      </div>
    </div>
  </div>
</body>
