<body class="user-show-body">
    <div class="user-show-top">

<div class="user-flex">
        <div class="profile-image">
            <img src="<%="/user_images/#{@user.users_image}"%>">
        </div>
        <div class="yu-count">
          ＜制覇：<%=@onsen_count%>温泉＞
        </div>
        <div class="yu-count">
          <%if  @onsen_count >10%>
              泉人
          <% elsif  @onsen_count >8 %>
              風呂王
          <% elsif  @onsen_count >6 %>
              趣味は温泉巡りと言ってよし
          <% elsif  @onsen_count >=1 %>
              ただの風呂好き
          <% else %>
              着替え中
          <%end%>
        </div>
</div>
         <div class="show-container">
               <h2>    <%= @user.name %>  </h2>
            <div class = "user-show-name">
                <p>    <%= @user.email %>  </p>
            </div>
            <div class="show-link">
              <%if @user.id==@current_user.id%>
                <%= link_to" 編集", "/users/#{@user.id}/edit"%>
                <%= link_to("削除","/users/#{@user.id}/destroy",{method:"post"})%>
                <%end%>
            </div>
                    <div class="user-tabs">
                        <li class="active"><%= link_to("温泉", "/users/#{@user.id}") %></li>
                        <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
                    </div>
            <div class="show-lists">

              <% @user.lists.each do |list| %>
              <div class="list-index-item2">
                  <div class= "user-index-left">
                  <%=link_to list.content,"/lists/#{list.id}"%>
                  </div>
                  <div class= "user-index-right">
                      <%=link_to "HP", @list.url%>
                      <%=link_to "レビュー", @list.review%>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
         </div>
  </body>
