

<body class="user-show-body">
    <div class="user-show-top">
        <img src="<%="/user_images/#{@user.users_image}"%>">

         <div class="show-container">
               <h2>    <%= @user.name %>  </h2>
            <div class = "user-show-name">
                <p>    <%= @user.email %>  </p>
            </div>
            <div class="show-link">
              <%if @user.id==@current_user.id%>
                <%= link_to" 編集", "/users/#{@user.id}/edit"%>
                <%= link_to("削除","/users/#{@user.id}/destroy",{method:"post"})%>
                <%end%>
            </div>
            <div class="show-lists">
              <% @user.lists.each do |list| %>
              <div class="list-index-item2">
              <%=list.comment%>
              </div>
              <%end%>
            </div>
          </div>
         </div>
  </body>
