



  <body class="page">
<!--  modal 導入-->
    <!-- <div class="login-modal-wrapper" id='login-modal'>
        <div class="modal">
          <div id="login-form">
            <h2>ログイン</h2>
            <form action="#">
              <input class="form-control" type="text" placeholder="メールアドレス">
              <input class="form-control" type="password" placeholder="パスワード">
              <div id="submit-btn">ログイン</div>
            </form>
          </div>
        </div>
      </div> -->
<!--  モーダル導入ここまで-->

      <div class="container">
        <h1 id="top-title">YUMEGURI~湯めぐり~</h1>
        <p id="message">日本の温泉を遊び尽くそう</p>


        <div class="btn-wrapper">
          <a href="/users/new" div class="btn signup">
            <i class="fas fa-registered"></i>
            新規登録はこちら</a>


          <p>or singup with</p>

          <a href="#" class="btn facebook">

             <i class="fab fa-facebook"></i>
            facebookで登録</a>
          <a href="#" class="btn twitter">
            <i class="fab fa-twitter-square"></i>
            Twitterで登録</a>
        </div>
      </div>


        <div class="middle_line">
          <a>この時期、オススメの宿</a>
          </div>

        <%  onsen_urls=["http://arimaspa-kingin.jp/cont01/cont01-flm.htm" , "http://www.suzurann.jp/", "https://www.iyaonsen.co.jp/", "http://renaissance-naruto.com/"]%><%
          onsen_images=["/有馬温泉.jpg", "/すずらんのゆ.jpg", "/祖谷温泉.jpg", "/なると.jpg" ]
          a=onsen_images.count
          onsen_names=["有馬温泉","すずらんの湯", "祖谷温泉", "ルネッサンス鳴門"]
          onsen_comments=["新緑の六甲山の中、トンネルを抜けると…\n\nそこは千と千尋の世界のような温泉街。\n\n炭酸せんべいに温泉饅頭。\n\n秀吉が愛した温泉街の町歩きも楽しもう", "老舗旅館のような風情溢れる景観。\n\n少し足を延ばせば、街の喧騒を忘れ静かな時間をゆったりとお湯に浸かりながら過ごせそう。", "四国一の絶景露天風呂\n\n近くにはかづら橋に、香川のうどんと観光にも困らない、四国旅行の際はぜひ泊まりたい宿", "瀬戸内海を臨むリゾート露天風呂\n\nおしゃれな庭の造りの中、海を眺めているとアジアの高級スパにでもきているような錯覚に陥る。アクティビティも豊富なホテルリゾートなので家族でくると面白い。お風呂は平日の朝が空いていてオススメ"] %>


          <% for i in 0..a-1 do %>
          <div class="trend">
              <%= link_to onsen_urls[i], target: "_blank" do %>
                <%= image_tag onsen_images[i]  %>
              <% end %>
                <%=onsen_names[i]%>
          <div class="onsen-comment">    <%= simple_format(h(onsen_comments[i] ))%></div>
          </div>
          <%end%>




        <div class="lowcontainer">
          <h2 id='call'>あなたは過去にいくつの温泉を巡ってきましたか</h2>
          <h3 id='start'>温泉と共にある思い出の旅に出かけよう</h3>
        </div>
        <span class="btn yumeguri_note"><a><%=link_to("湯めぐり帳をつくる","/users/new" )%></a></span>
      </div>
    </div>
    <footer class="footer">
      <div class="last">
          <img src="/あひる.png">

      </div>
    </footer>
  </body>
</html>
