<!DOCTYPE html>
<html>
  <head>
    <title>湯巡り帳</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <img class="logo" src="/logo.png">
    <a href="/about" class="link knowhow">使い方</a>
    <a href="/" class="link home icon">ホーム</a>
    <a href="/lists/index" class="link index">投稿一覧</a>
    <a href="/lists/new" class="link new">新規投稿</a>
    <a href="/users/new" class="link signup">新規登録</a>
    <a href="/users/index" class="link usericon">ユーザ一覧</a>
  </header>

  <body>
    <%= yield %>
  </body>
