<!DOCTYPE html>
<html>
  <head>
    <title>湯巡り帳</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <header>
      <div class="header-left">
          <img class="logo" src="/logo.png">
                <%if @current_user%>
                    <%@current_user=User.find_by(id:session[:user_id])%>
                    <a><%= link_to(@current_user.name,"/users/#{@current_user.id}") %></a>
                <%end%>

      </div>
      <div class="header-right">
          <%@current_user=User.find_by(id:session[:user_id])%>
          <%if @current_user%>
                  <a href="/logout" class="link logout icon">ログアウト</a>
                  <a href="/lists/index" class="link index">投稿一覧</a>
                  <a href="/onsens/new" class="link new">温泉登録</a>
                  <a href="/users/index" class="link usericon">ユーザ一覧</a>
                  <a href="/onsens" class="link usericon">温泉一覧</a>
                  <a href="/" class="link home icon">ホーム</a>
            <%else%>
                  <a href="/login" class="link login icon">ログイン</a>
                  <a href="/about" class="link knowhow">使い方</a>
                  <a href="/users/new" class="link signup">新規登録</a>
                  <a href="/lists/index" class="link index">投稿一覧</a>
                  <a href="/onsens" class="link usericon">温泉一覧</a>
                  <a href="/" class="link home icon">ホーム</a>
            <%end%>
       </div>
  </header>

  <body>
    <%= yield %>
  </body>
